.clients {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.clients__inner {
    @media only screen and (min-width: 768px) {
        padding: 180px 160px;
    }
    @media only screen and (max-width: 767px) {
       padding: 55px 0 95px;
    }
}

.clients__text-wrap {
    display: flex;
    margin-bottom: 160px;
    @media only screen and (max-width: 767px) {
       flex-wrap: wrap;
       margin-bottom: 40px;
    }
}

.clients__title {
    font-size: clamp(1.15rem, 2.2vw, 2rem);
    margin-right: 100px;
    flex: 0 0 20%;
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 25px;
    }
}

.clients__text {
    flex: 0 0 60%;
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.clients__images {
    display: flex;
    align-items: center;
    width: 100%;
    // animation: scrolling 5s linear infinite;
    // &:hover {
    //     animation-play-state: paused;
    // }
}

.clients__img-wrap {
    flex: 0 0 150px;    
    max-width: 150px;
    margin-right: 90px;
    // flex: 0 0 8vw;
    // max-width: 8vw;
    // margin-right: 7vw;
}

.clients__img {
    display: block;
    width: 100%;
}
.swiper-slide{
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
  }
// @keyframes marquee {
//   from { 
//     transform: translateX(150%); 
// }
//   to { 
//     transform: translateX(-150%); 
//     }
// }

.swiper-wrapper{
    -webkit-transition-timing-function:linear !important; 
    -o-transition-timing-function:linear !important;          transition-timing-function:linear !important; 
 }



.marquee {
    overflow: hidden;
}

// @keyframes scrolling {
//     0% { transform: translateX(0); }
//     100% { transform: translatex(-144vw); }
//   }

//   .marquee-item {
//     flex: 0 0 16vw;
//     margin: 0 1vw;
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
//   }