*:focus {
    outline: none;
}

.animation {
	opacity: 0;
}

@include main; 

body {
	font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	color: $main-color;
}

img {
	max-width: 100%;
	height: auto;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.wrap {
	margin: 0 auto;
	max-width: 1540px;
	padding: 0 20px;
	width: 100%;
    @media only screen and (max-width: 768px) {
		padding: 0 30px;
	}
}

.wrap--wide {
	max-width: 1880px;
}

[data-object-fit='cover'] {
	object-fit: cover;
}

[data-object-fit='contain'] {
	object-fit: contain;
}