.section-title {
    font-size: clamp(1.8rem, 3.8vw, 3.8rem);
    line-height: 1.2;
    font-family: $font-secondary-italic;
    font-weight: $medium;
}

.section-text {
    font-family: $font-default-light;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    line-height: 1.7;
}

::placeholder {
    font-family: $font-default-light;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    line-height: 1.2;
}