$font-default-light: 'AktivGroteskLight';
$font-default: 'AktivGrotesk';
$font-secondary-italic: 'Blacker Pro Dis Md';
$font-secondary: 'Blacker Text';
$font-tertiary: 'Sora';
$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$main-color: #000;
$secondary-color: #fff;
$card-color-1: #E9E9E9;
$card-color-2: #B3BB68;
$card-color-3: #E8C14F;
$card-color-4: #F1824C;



